{% include "layout.html" %}
<div class="container">
    <div class="card">
        <div class="card-header">
            lest's change password!!
        </div>
        <div class="card-body">
            {%if msg %}
            {% if msg  =='updete password'%}
            <div class="alert alert-success",Role="alert">
                {{msg}}
            </div>
            {% else %}
            <div class="alert alert-danger",Role="alert">
                {{msg}}
            </div>
            {% endif %}
           {% endif %} 
           <form method="post"  action="/user/edit-user-password">
            <div class="form-row">
                <div class="from-group col-md-6">
                    <label > Userame </label>
                    <input type="text" class="form-control" name="Userame" required>
                </div>
            </div>
            <div class="from-group" >
                <label >Password</label>
                <input type="text" class="form-control" name="password" required>
            </div>
             <div class="from-group" >
                <label >new password</label>
                <input type="text" class="form-control" name=" new password" required>
            </div>
            <button type="submit" class="btn btn-primary">Edit </button>
            
           </form>     
    </div>
    </div>
</div>

